.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .action-button-container {
    text-align: center;
    margin-top: 5px;
  }

  .action-button-container button {
    background-color: #f3f3f3;
    border: 1px solid #3c3c3c;
    padding: 8px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
  }

  .action-button-container button:hover {
    opacity: 1;
    text-decoration: underline;
  }