<!-- <div class="game-board">
  <div class="box">X</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">X</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">X</div>
  <div class="box">X</div>
</div> -->
<div class="game">
  <div class="game-board">
    <app-board [stopPlay]="(stopPlay$ | async)" [squares]="(squares$ | async)" (reset)="handleReset()"
      (coinPlacement)="handleCoinMovement($event)">
    </app-board>
  </div>
  <div class="game-info">
    <div>
      <div class="status">{{(status$ | async)}}</div>
    </div>
    <app-game-preview [currentPreview]="(stepNumber$ | async)" [history]="(history$ | async)"
      (handlePreview)="jumpTo($event)"></app-game-preview>
  </div>
</div>
