<!-- <div class="game-board">
  <div class="box">X</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">X</div>
  <div class="box">O</div>
  <div class="box">O</div>
  <div class="box">X</div>
  <div class="box">X</div>
</div> -->
<div class="game">
  <div class="game-board">
    <app-board [stopPlay]="!!winner" [squares]="history[stepNumber].squares" (reset)="handleReset()"
      (coinPlacement)="handleCoinPlacement($event)">
    </app-board>
  </div>
  <div class="game-info">
    <div>
      <div class="status" *ngIf="!winner;else winnerTemplate">Next player: {{xIsNext ? 'X' : 'O'}}</div>
      <ng-template #winnerTemplate>
        <div class="status">Winner: {{winner}}</div>
      </ng-template>
    </div>
    <ol>
      <li *ngFor="let record of history;let step = index;">
        <button (click)="jumpTo(step)">{{step ? 'Go to move #' + step : 'Go to game start'}}</button>
      </li>
    </ol>
  </div>
</div>